header{text-align: center;}
.hr {background-color: rgb(226, 211, 185);
    border-top:solid 3px orange;
text-align:center;
text-decoration: underline darkcyan;
padding-bottom: 10px;}
header img {width: 25%;
}
span{color:darkcyan;}
 
main {margin-left: auto;
margin-right: auto;
width: 50%;}
main img { width: 100%;
border-radius: 20px;}

body{font-family: 'Times New Roman', Times, serif;}

#feat {color: brown;}
#fresh {color: darkcyan;}
#borde {border-left: 3px solid orange;
padding-left: 10px;}
.bottom
{text-align: left;
margin-left: -50px;}



